<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的</title>
	<!--=include ./common/meta.html-->
	<link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
	<div class="title"><a href="./my.html"></a>地心科技</div>
	<h2>公司简介</h2>
	<p>北京地心科技有限公司是一家集电子商务平台和本地生活服务为一体的综合类科技公司，公司致力于打造社区新型经济体，以“新零售、新共享、新体验”三轮驱动开创社区经济新局面。</p>
	<P>
		公司旗下「社区小王」是社区新零售和社区共享经济开拓者。「社区小王」致力于为小区居民提供全方位、高品质的生活服务，小区居民只需要微信公众号下单，便可享受到实惠商品飞速送达服务以及租赁和体验到居民喜欢的商品。
	</p>
	<h2>商务合作</h2>
	<p>
		如有意愿入住平台或成为平台供货商者请发邮件至bd@earthcenter.com.cn或致电13522966585。
	</p>
	<!--=include ./common/foot.html-->
	<script charset="utf-8" src="../static/js/about.js"></script>
</body>
</html>