<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<!--=include ./common/meta.html-->
	<link rel="stylesheet" href="../static/css/agentDetail.css">
</head>
<body>
	<!-- title -->
	<div class="title">订单详情</div>
	<!-- list -->
	<div class="form-detail"></div>
	<script id="formTemplate" type="text/template">
		var data = this.result;
		<dl>
			<dt>订单内容</dt>
			for(var j = 0; j < data.list.length; j++){
				<dd>
					<img src="../static/images/commodity.jpg">
					<div>
						<p>#{data.list[j].name}</p>
						<p class="price">#{data.list[j].price}元</p>
					</div>
					<div>x#{data.list[j].number}</div>
				</dd>
			}
			<dd>
				<p>价格：#{data.totalPrice}元</p>
				<p>姓名：#{data.name}</p>
				<p>电话：#{data.phone}</p>
				<p>地址：#{data.address}</p>
				<p>时间：#{data.time}</p>
			</dd>
		</dl>
	</script>
	<!--=include ./common/foot.html-->
	<script charset="utf-8" src="../static/js/agentDetail.js"></script>
</body>
</html>