<!-- zhuzai -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>意见反馈</title>
	<!--=include ./common/meta.html-->
	<link rel="stylesheet" href="../gulpStatic/css/issue.css">
</head>
<body>
	<div class="title">S便利</div>
	<h2>反馈意见</h2>
	<p class="des">Q1:您的手机号码 (为了更好的处理您的建议，我们建议您留下联系方式)</p>
	<input class="question" id="phone" type="text" name="">
	<p class="des">Q2:您的其他建议和意见</p>
	<textarea class="other" id="other"></textarea>
	<div class="submit">提交</div>
	<!--=include ./common/foot.html-->
	<script charset="utf-8" src="../gulpStatic/js/issue.js"></script>
</body>
</html>