<!-- zhuzai -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>加入我们</title>
	<!--=include ./common/meta.html-->
	<link rel="stylesheet" href="../gulpStatic/css/joinUs.css">
</head>
<body>
	<div class="introduce">
		<h1 class="name">S便利</h1>
		<div class="description">社区新型电商领导者</div>
	</div>
	<div class="join-info">
		<h3>申请入驻</h3>
	 	<div><span>店名:</span><input id="marketName" type="text" value="" placeholder="请输入店名"></div>
	 	<div><span>姓名:</span><input id="name" type="text" value="" placeholder="请输入联系人姓名"></div>
	 	<div><span>电话:</span><input id="phone" type="text" value="" placeholder="请输入电话"></div>
	 	<div><span>地址:</span><input id="address" type="text" value="" placeholder="请输入地址"></div>
	 	<div class="submit">提交</div>
	</div>
	<div class="advantage">
		<h3>服务优势</h3>
		<div class="card">
			<div class="circle">优质供货商资源</div>
			<div class="desc">货全、价低、次日达</div>
		</div>
		<div class="card">
			<div class="circle">多卖1000+商品</div>
			<div class="desc">弥补店内商品不足，无需囤货即可多卖钱</div>
		</div>
		<div class="card">
			<div class="circle">零门槛入驻</div>
			<div class="desc">入驻简易，使用方便，无额外成本</div>
		</div>
		<div class="card">
			<div class="circle">定制化服务</div>
			<div class="desc">大数据精准分析，打造属于您的专属便利店</div>
		</div>
	</div>
	<div class="connect-us">
		<h3 class="">联系我们</h3>
		<div>社区便利店申请入驻及供货商合作均可通过以下方式进行联系：</div>
		<div>商务合作：bd@earthcenter.com.cn</div>
		<div>客服电话：13522966585</div>
	</div>
	<!--=include ./common/foot.html-->
	<script charset="utf-8" src="../gulpStatic/js/joinUs.js"></script>
</body>
</html>