<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的</title>
	<!--=include ./common/meta.html-->
	<link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
	<div class="user">用户登录</div>
	<div class="form">我的订单<i></i></div>
	<div class="address">我的地址<i></i></div>
	<a href="tel:10010"><div class="service">联系客服<i></i></div></a>
	<div class="bottom-nav">
		<ul>
			<li><a href="./main.html"><img src="../static/images/index.png"><span>首页</span></a></li>
			<li><a href="./shopping-cart.html"><img src="../static/images/buy-car.png">购物车</a></li>
			<li><a href="./my.html"><img src="../static/images/my-active.png">我的</a></li>
		</ul>
	</div>
	<div class="form-detail">
		<div class="title"><i id="form_hidden"></i>我的订单</div>
		<ul>
			<li>
				<img src="../static/images/commodity.jpg">
				<div class="time">2017-05-11 12:30:00</div>
				<div class="price">￥3元</div>
			</li>
			<li>
				<img src="../static/images/commodity.jpg">
				<div class="time">2017-05-11 12:30:00</div>
				<div class="price">￥3元</div>
			</li>
		</ul>
	</div>
	<div class="address-detail">
		<div class="address-title"><i id="address_hidden"></i>我的地址</div>
		<ul>
			<li>
				<div class="edit">编辑</div>
				<div class="my-name">名字</div>
				<div class="my-phone">13203505678</div>
				<div class="my-address">地址地址地址地址地址地址地址</div>
			</li>
			<li>
				<div class="edit">编辑</div>
				<div class="my-name">名字</div>
				<div class="my-phone">13203505678</div>
				<div class="my-address">地址地址地址地址地址地址地址</div>
			</li>
		</ul>
	</div>
	<!--=include ./common/foot.html-->
	<script charset="utf-8" src="../static/js/my.js"></script>
</body>
</html>