<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>购物车</title>
	<!--=include ./common/meta.html-->
	<link rel="stylesheet" href="../static/css/shopping-cart.css">
</head>
<body>
	<div class="address"><img src="../static/images/my-dizhi.png">地址</div>
	<div class="arrive">2小时后送达<!-- <i></i> --></div>
	<ul class="commodity">
		<li>
			<i></i>
			<img src="../static/images/commodity.jpg">
			<div class="info">价格</div>
			<div class="number">数量</div>
		</li>
		<li>
			<i></i>
			<img src="../static/images/commodity.jpg">
			<div class="info">价格</div>
			<div class="number">数量</div>
		</li>
	</ul>
	<ul class="commodity-info">
		<li>商品价格<span>￥25元</span></li>
		<li>运费<span>￥0元</span></li>
	</ul>
	<ul class="buy">
		<li><i></i>全选</li>
		<li>合计<span>￥25元</span></li>
		<li id="buy_commodity">去下单<i></i></li>
	</ul>
	<div class="bottom-nav">
		<ul>
			<li><a href="./main.html"><img src="../static/images/index.png"><span>首页</span></a></li>
			<li><a href="./shopping-cart.html"><img src="../static/images/buy-car-active.png">购物车</a></li>
			<li><a href="./my.html"><img src="../static/images/my.png">我的</a></li>
		</ul>
	</div>
	<!--=include ./common/foot.html-->
	<script charset="utf-8" src="../static/js/shopping-cart.js"></script>
</body>
</html>