<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>S便利</title>
	<!--=include ./common/meta.html-->
	<link rel="stylesheet" href="../gulpStatic/css/zhuzaiAgentList.css">
</head>
<body>
	<!-- title -->
	<div class="title">未处理订单</div>
	<!-- list -->
	<ul class="list"></ul>
	<div class="bottom">没有订单了~</div>
	<script id="listTemp" type="text/template">
		var data = this.resultdata;
		for (var i = 0; i < data.length; i++) {
			<li>
				<a href="#{data[i].url}?orderCode=#{data[i].orderCode}">
					<div class="info">
						<p>订单号：#{data[i].orderCode}</p>
						<p>描述：#{data[i].desc}</p>
						<p>价格：#{data[i].totalPrice}元</p>
						<p>时间：#{data[i].time}</p>
					</div>
					<div class="status">
						if (data[i].orderStatus == '2') {
							<button orderCode="#{data[i].orderCode}" status="notGet" class="notGet">到货</button>
						} else {
							<button orderCode="#{data[i].orderCode}" status="get" class="get">已到货</button>
						}
						if (data[i].orderStatus == '3') {
							<button orderCode="#{data[i].orderCode}" status="notArrive">送达</button>
						} else if (data[i].orderStatus == '2') {
							<button orderCode="#{data[i].orderCode}" status="arrive" class="arrive">送达</button>
						} else {
							<button orderCode="#{data[i].orderCode}" status="arrive" class="arrive">已送达</button>
						}
					</div>
				</a>
			</li>
		}
	</script>
	<!--=include ./common/foot.html-->
	<script charset="utf-8" src="../gulpStatic/js/zhuzaiAgentList.js"></script>
</body>
</html>